    <div class="header">
      <div class="container">
        <h1>Header Section</h1>
        <p>Charles Markey</p>
        <a class="btn" href="#">View My Work</a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <img src="http://3.bp.blogspot.com/_cVgRCJKmya0/TN0t7hiVXqI/AAAAAAAAAFk/ygAUCeLNSUg/s1600/Kid%2BA%2B2.jpg" height="798" width="1600">
       <h2></h2>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h2></h2>
        <p></p>

      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Footer</p>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71I5kJS%2BdsL._SL1041_.jpg" height="512" width="512">
      </div>
    </div>